 
 .grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    
    
 }
 
.info{
place-self: start;    
display: grid;
place-items: start;
gap: 20px;
}


 .titulo {
    grid-column: 1/-1;
 }

 .foto{
 

 }
  .preco{
    
  }
 
  .comprar{
  

  }
.descricao{


}

 body{
    font-family: Arial;
    margin: 40px;
    
 }

h1
p {
margin: 0px;

}


h1{

font-size: 48px;
line-height: 1;
}


p,
span
{
    font-size: 20px;

}

 .comprar{
    background: darkmagenta;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-size:35px ;
 }

 
.preco{
    background: rosybrown;
    padding: 5px 10px;
    border-radius: 10px;
}

img{

    max-width: 100% ;
}